.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: black;
    padding: 10px;
    height: 50vh;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: white;
    border: 1px solid #999;
  }